<%- include('../includes/head.ejs') %>
    <!-- <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/modal.css"> -->
    <link rel="stylesheet" href="/css/pagination.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container mt-3" >
            <div class="row">
                <!-- Trigger/Open The Modal -->
                <div class="col-4 justify-content-start">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Thêm Nhân Viên</button>
                </div>
                    <!-- The Modal -->
                <div id="myModal" class="modal">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Thêm Nhân Viên Mới</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <form class="staff-form"  action="/add-staff" method="POST" enctype="multipart/form-data">
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="idNumber">MSNV: </label>
                                        <input class="form-control" type="text" name="idNumber" id="idNumber" value="" placeholder="Nhập mã số nhân viên" required>
                                        <div class="valid-feedback">Valid.</div>
                                        <div class="invalid-feedback">Please fill out this field.</div>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="password">Mật khẩu: </label>
                                        <input class="form-control" type="password" name="password" id="password" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="permission">Quyền truy cập: </label>
                                        <select class="form-select" name="permission" id="permission" value="user" required>
                                            <option value="user">user</option>
                                            <option value="admin">admin</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="name">Tên Nhân Viên: </label>
                                        <input class="form-control" type="text" name="name" id="name" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="email">Email: </label>
                                        <input class="form-control" type="email" name="email" id="email" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="doB">Ngày sinh: </label>
                                        <input class="form-control" type="date" name="doB" id="doB" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="startDate">Ngày vào công ty: </label>
                                        <input class="form-control" type="date" name="startDate" id="startDate" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="salaryScale">Hệ số lương: </label>
                                        <input class="form-control" type="number" name="salaryScale" id="salaryScale" value="" required> 
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="department">Phòng ban: </label>
                                        <select class="form-select" name="department" id="department" required>
                                            <option value="IT">IT</option>
                                            <option value="HR">HR</option>
                                            <option value="Sale">Sale</option>
                                            <option value="Marketing">Marketing</option>
                                            <option value="Finance">Finance</option>
                                        </select>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="annualLeave">Ngày phép còn: </label>
                                        <input class="form-control" type="number" name="annualLeave" id="annualLeave" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="image">Ảnh: </label>
                                        <input class="form-control"
                                            type="file" 
                                            name="image" 
                                            id="image" 
                                            required
                                        >
                                    </div>
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn btn-primary" type="submit">Thêm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <hr>
            </div>
            
            <% if (staffs.lenght <= 0) {%>
                <div class="row mt-3">
                    <h1>Chưa cập nhật danh sách nhân viên</h1>
                </div>
            <%} else {%>
                <div class="row">
                    <%  for (let staff of staffs) {%>
                        <div class="col-12 col-md-6 col-lg-4 mt-3">
                            <div class="card">
                                <img class="card-img-top img-fluid" src="/<%= staff.image%>" alt="<%= staff.idNumber + '-' + staff.name%>">
                                <div class="card-body">
                                    <h5 class="card-title mb-3"><%=staff.name%></h5>
                                    <p class="card-text">MSNV: <%=staff.idNumber%></p>
                                    <p class="card-text">Truy cập: <%=staff.permission%></p>
                                    <p class="card-text">Trạng thái giờ làm: </p>
                                    <a role="button" href="/staffs/staff-detail/<%= staff._id %>?manage=true" class="btn btn-primary mt-2 ml-1">Thông tin</a>
                                </div>
                                <div class="card-footer">
                                    <a role="button" href="/staffs/manage-timesheet/<%= staff._id %>?manage=true" class="btn btn-primary mt-2 ml-1">Kiểm tra giờ làm</a>
                                    <a role="button" href="/staffs/manage-health/<%= staff._id %>?manage=true" class="btn btn-primary mt-2 ml-1">Kiểm tra sức khỏe</a>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
                
            <div class="row mt-3 mb-3">
                <div class="col-lg-4"></div>
                <div class="col-lg-4">
                    <%- include('../includes/pagination.ejs', {currentPage: currentPage, nextPage: nextPage, previousPage: previousPage, lastPage: lastPage, hasNextPage: hasNextPage, hasPreviousPage: hasPreviousPage}) %>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
        
    </main>

<%- include('../includes/end.ejs') %>