<div class="backdrop"></div>
<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">Chấm Công</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">Thông Tin</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Tra Cứu</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/health-info' ? 'active' : '' %>" href="/health-info">Sức Khỏe</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/staffs' ? 'active' : '' %>" href="/staffs">Nhân Viên</a>
            </li>
        </ul>
        <ul class="main-header__item-login">
            <li class="main-header__item">
                <a class="<%= path === '/login' ? 'active' : '' %>" href="/login">Đăng Nhập</a>
            </li>
        </ul>
    </nav>
</header>

<nav class="mobile-nav">
        <ul class="mobile-nav__item-list">
                <li class="mobile-nav__item">
                    <a class="<%= path === '/' ? 'active' : '' %>" href="/">Chấm Công</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/staff-info' ? 'active' : '' %>" href="/staff-info">Thông Tin</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/cart' ? 'active' : '' %>" href="/cart">Tra Cứu</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/health-info' ? 'active' : '' %>" href="/health-info">Sức Khỏe</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/staffs' ? 'active' : '' %>" href="/staffs">Nhân Viên</a>
                </li>
                <li class="mobile-nav__item">
                    <a class="<%= path === '/orders' ? 'active' : '' %>" href="/orders">Đăng Nhập</a>
                </li>
            </ul>
</nav>