<%- include('../includes/head.ejs') %>

</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main class="container">
            <div class="row mt-3">
                <div class="col-12 col-sm-7 col-lg-9"></div>
                <div class="col-12 col-sm-5 col-lg-3">
                    <form action="/staffs/search" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="form-control" type="text" id="search" name="search" placeholder="Nhập dữ liệu cần tìm">
                        <select class="form-select" name="leaveTime" id="leaveTime" required>
                            <option value="leaveDate">Nghi phep</option>
                            <option value="2">Ngay lam</option>              
                        </select>
                        <button class="btn btn-primary" type="submit">Tìm</button>
                    </form>
                </div>
            </div>

            <div class="row mt-3" >
                <div class="col-1 col-sm-4">

                </div>
                <div class="col-10 col-sm-4">
                    <form action="/consultation" method="POST">
                        <label class="form-label" for="monthSalary">Tra cứu thông tin theo tháng: </label>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="form-control mt-1" type="month" id="monthSalary" name="monthSalary">
                        <button class="btn btn-primary mt-1" type="submit">Xem</button>
                    </form>
                </div>
                <div class="col-1 col-sm-4">
                    
                </div>
            </div>
            <div class="row mt-3">
                <h3>Tên quản lý: <%= admin.name %></h2>
                <h4>Mã số nhân viên:  <%= admin.idNumber%> </h3>
            </div>
            <div class="row mt-3">
                <h3>Tháng lương: <%= monthSalary.month %></h2>
                <h4>Lương:  <%= monthSalary.salary == 0 ? 'Chưa cập nhật' : monthSalary.salary + ' vnd'%> </h3>
            </div>
            <div class="row table-responsive-md">
                <table class="table table-bordered table-hover border">
                    <% for (let timeSheetData of timeSheetDatas) { %>
                        <% if (monthSalary.month == timeSheetData.date.substring(0, 7) ) { %>
                        
                            
                                <tr>
                                    <th><h1>Ngày:</h1></th>
                                    <td><h1> <%= timeSheetData.date %></h1></td>
                                </tr>
                                    <% for (let timeResult of timeResults) { %>
                                        <% const timeNow = timeResult.startTimes[0].startTime %>
                                        <% const year = timeNow.getFullYear() %>
                                        <% const month = (timeNow.getMonth()+1) < 10 ? ('0' + (timeNow.getMonth()+1)) : (timeNow.getMonth()+1) %>
                                        <% const date = timeNow.getDate() < 10 ? ('0' + timeNow.getDate()) : timeNow.getDate() %>
                                        <% const startTimeThisDate = `${year}-${month}-${date}` %>
    
                                        <% if(timeSheetData.date == startTimeThisDate) { %> 
                                            <tr> 
                                                <th>Địa điểm(giờ bắt đầu): </th>
                                                <td>
                                                    <% for (let i = 0; i < timeResult.startTimes.length; i++) { %>
                                                        <%=  timeResult.locations[i].location + '('+ timeResult.startTimes[i].startTime.toTimeString().substring(0, 8) + '), ' %>
                                                    <% } %>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th> Giờ kết thúc:</th> 
                                                <td><%= timeResult.endTime.toTimeString().substring(0, 8)%></td>
                                            </tr>
                                        <% } %>
                                    <% } %>
    
                                    <% var tlf_temp = 0 %>
                                    <% for (let tlf of takeLeaveInfo) { %>
                                        <% if(timeSheetData.date == tlf.date) { %> 
                                            <% tlf_temp = tlf.leaveTime %>
                                        <% } %>
                                    <% } %>

                                <tr>
                                    <th>Tổng thời gian đã làm:</th>
                                    <td><%= (tlf_temp == 0) ? timeSheetData.timeTotal : (timeSheetData.timeTotal + tlf_temp*60) %> phút</td>
                                </tr>
                                <tr>
                                    <th>Thời  gian làm thiếu giờ:</th>
                                    <td><%= (tlf_temp == 0) ? timeSheetData.incompleteTime : (timeSheetData.timeTotal + tlf_temp*60) > 480 ? 0 : timeSheetData.incompleteTime - (timeSheetData.timeTotal + tlf_temp*60)  %> phút</td>
                                </tr>
                                <tr>
                                    <th>Thời gian làm thêm giờ:</th>
                                    <td> <%= (tlf_temp == 0) ? timeSheetData.overTime : (timeSheetData.timeTotal + tlf_temp*60) > 480 ? (timeSheetData.timeTotal + tlf_temp*60) - 480 : 0 %> phút</td>
                                </tr>
                                <tr>
                                    <th>Số giờ nghỉ phép:</th>
                                    <td><%= tlf_temp %> giờ</td>
                                </tr>
                        <% } %>
                    <% } %>
                </table>
            </div>
            <br>

    </main>

<%- include('../includes/end.ejs') %>