<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/modal.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div>
            <h2>Trạng Thái Công Việc Hôm Nay</h2>
            <article class="card product-item">
                <div class="card__content">
                    <h2 class="product__price">
                        <b>Tên Nhân Viên: <%= staff.name %></b> 
                    <p class="product__description">
                        <b>Nơi làm việc: <%= timesheet.locations.length <= 0 ? 'Chưa đăng ký nơi làm việc' : timesheet.locations[timesheet.locations.length - 1].location%> 
                    </p>
                    <p class="product__description">
                        <b>Trạng Thái: <%= timesheet.workStatus == true ? 'Đang làm việc' : 'Không làm việc'%></b> 
                    </p>
                </div>
            </article>
        </div>
        <br>
        <div class="staff-form" >
            <!-- Trigger/Open The Modal -->
            <button class="btn staff-form" id="myBtn">Điểm danh</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">
                <div class="modal-content">
                    <span class="close" id="close">&times;</span>
                    <h2>Đăng ký thông tin làm việc</h2>
                    <form class="staff-form" action="/timesheet-starttime" method="POST">
                        <div class="form-control">
                            <label for="location">Nơi làm việc: </label>
                            <select name="location" id="location" value="company">
                                <option value="Công Ty">Công Ty</option>
                                <option value="Khách Hàng">Khách Hàng</option>
                                <option value="Nhà">Nhà</option>
                            </select>
                        </div>
                        <button class="btn" type="submit">Bắt đầu làm</button>
                    </form>
                </div>
            </div>
        </div>

        <br>

        <div class="staff-form" >
            <form class="staff-form" action="/timesheet-endtime" method="POST">
                <button class="btn staff-form" type="submit">Kết thúc làm</button>
            </form>
        </div>

        <br>

        <div class="staff-form" >
            <!-- Trigger/Open The Modal -->
            <button class="btn staff-form" id="myBtn1">Nghỉ Phép</button>
            <!-- The Modal -->
            <div id="myModal1" class="modal">
                <div class="modal-content">
                    <span class="close" id="close1">&times;</span>
                    <h2>Đăng ký nghỉ phép</h2>
                    <form class="staff-form" action="/timesheet-takeleave" method="POST">
                        <div class="form-control">
                            <label for="startDateTime">Nghỉ từ ngày: </label>
                            <input type="date" name="startDateTime" id="startDateTime" value="">
                        </div>
                        <div class="form-control">
                            <label for="endDateTime">Đến hết ngày: </label>
                            <input type="date" name="endDateTime" id="endDateTime" value="">
                        </div>
                        <div class="form-control">
                            <label for="leaveTime">Số giờ nghỉ/ngày: </label>
                            <!-- <input type="number" name="leaveTime" id="leaveTime" default=0> -->
                            <select name="leaveTime" id="leaveTime">
                                <option value="1">1h</option>
                                <option value="2">2h</option>
                                <option value="3">3h</option>
                                <option value="4">4h</option>
                                <option value="5">5h</option>
                                <option value="6">6h</option>
                                <option value="7">7h</option>
                                <option value="8">8h</option>                
                            </select>
                            <span>Ngày quy đổi: </span><span id="timeConvert"></span><span> ngày</span>
                            <p>--Chú ý: Thời gian nghỉ phép 8h/ngày (trừ thứ bảy và chúa nhật)</p>
                        </div>

                        <button class="btn" type="submit">Đăng Ký</button>
                    </form>
                </div>
            </div>
        </div>

    </main>

<%- include('../includes/end.ejs') %>