<%- include('../includes/head.ejs') %>

</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main class="container">
            <div class="row mt-3" >
                <div class="col-1 col-sm-4">

                </div>
                <div class="col-10 col-sm-4">
                    <form action="/consultation" method="POST">
                        <label class="form-label" for="monthSalary">Tra cứu thông tin theo tháng: </label>

                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input class="form-control mt-1" type="month" id="monthSalary" name="monthSalary">
                        <button class="btn btn-primary mt-1" type="submit">Xem</button>
                    </form>
                </div>
                <div class="col-1 col-sm-4">
                    
                </div>
            </div>
            <div class="row mt-3">
                <h3>Tháng lương: <%= monthSalary.month %></h2>
                <h4>Lương:  <%= monthSalary.salary == 0 ? 'Chưa cập nhật' : monthSalary.salary + ' vnd'%> </h3>
            </div>
            <div class="row card">
                <ul class="list-group list-group-flush">
                    <% for (let timeSheetData of timeSheetDatas) { %>
                        <% if (monthSalary.month == timeSheetData.date.substring(0, 7) ) { %>
                        <li class="list-group-item">
                        <h1>Ngày: <%= timeSheetData.date %></h1>
                            <% for (let timeResult of timeResults) { %>
                                <% if(timeSheetData.date == timeResult.startTimes[0].startTime.toISOString().substring(0, 10)) { %> 
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Địa điểm(giờ bắt đầu): 
                                            <% for (let i = 0; i < timeResult.startTimes.length; i++) { %>
                                                <%=  timeResult.locations[i].location + '('+ timeResult.startTimes[i].startTime.toTimeString().substring(0, 8) + '), ' %>
                                            <% } %>
                                        </li>
                                        <li class="list-group-item">
                                            Giờ kết thúc: <%= timeResult.endTime.toTimeString().substring(0, 8) %>
                                        </li>
                                    </ul>
                                <% } %>
                            <% } %>

                            <% var tlf_temp = 0 %>
                            <% for (let tlf of takeLeaveInfo) { %>
                                <% if(timeSheetData.date == tlf.date) { %> 
                                    <% tlf_temp = tlf.leaveTime %>
                                <% } %>
                            <% } %>
                        <h5>Tổng thời gian đã làm: <%= (tlf_temp == 0) ? timeSheetData.timeTotal : (timeSheetData.timeTotal + tlf_temp*60)  %> phút</h5>
                        <h5>Thời  gian làm thiếu giờ: <%= timeSheetData.incompleteTime %> phút</h5>
                        <h5>Thời gian làm thêm giờ: <%= timeSheetData.overTime %> phút</h5>
                        <h5>Số giờ nghỉ phép: <%= tlf_temp %> giờ</h5>
                        </li>
                        <% } %>
                    <% } %>
                </ul>
            </div>
            <br>

    </main>

<%- include('../includes/end.ejs') %>