<%- include('../includes/head.ejs') %>

</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main class="container">
        <div class="row mt-3">
            <div class="card">
                <h4 class="card-title text-center">Trạng Thái Công Việc Hôm Nay</h4>
                <article class="card ">
                        <h5 class="card-text">
                            <b>Tên Nhân Viên:</b>  <%= staff.name %>
                        </h5>
                        <p class="card-text">
                            <b>Nơi làm việc:</b>  <%= timesheet.locations.length <= 0 ? 'Chưa đăng ký nơi làm việc' : timesheet.locations[timesheet.locations.length - 1].location%> 
                        </p>
                        <p class=card-text"">
                            <b>Trạng Thái:</b>  <%= timesheet.workStatus == true ? 'Đang làm việc' : 'Không làm việc'%>
                        </p>
                </article>
            </div>
        </div>

        <div class="row mt-3">
            
                <% if(!todayWorkingInfo.approveStatus) { %>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal1">
                        Điểm danh
                        </button>
                        <div id="myModal1" class="modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Đăng ký thông tin làm việc</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/timesheet-starttime" method="POST">
                                            <div class="mb-3 mt-3">
                                                <label for="location" class="form-label">Nơi làm việc: </label>
                                                <select class="form-select" name="location" id="location" value="company" required>
                                                    <option value="Công Ty">Công Ty</option>
                                                    <option value="Khách Hàng">Khách Hàng</option>
                                                    <option value="Nhà">Nhà</option>
                                                </select>
                                            </div>
                                            <div class="mb-3 mt-3">
                                                <div class="row">
                                                    <div class="col">
                                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                                        <button class="btn btn-primary" type="submit">Bắt đầu làm</button>
                                                    </div>
                                                    <div class="col">
                                                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy đăng ký</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="col-sm-3">
                        <form class="staff-form" action="/timesheet-endtime" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button class="btn btn-primary" type="submit">Kết thúc làm</button>
                        </form>
                    </div>
                <% } %>
    

            <div class="col-sm-3">
                <!-- Trigger/Open The Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">Nghỉ Phép</button>
                <!-- The Modal -->
                <div id="myModal" class="modal fade">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Đăng ký nghỉ phép</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <div class="modal-body">
                                <form action="/timesheet-takeleave" method="POST">
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="startDateTime">Nghỉ từ ngày: </label>
                                        <input class="form-control" type="date" name="startDateTime" id="startDateTime" value="" required>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="endDateTime">Đến hết ngày: </label>
                                        <input class="form-control" type="date" name="endDateTime" id="endDateTime" value="" required> 
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="leaveTime">Số giờ nghỉ/ngày: </label>
                                        <!-- <input type="number" name="leaveTime" id="leaveTime" default=0> -->
                                        <select class="form-select" name="leaveTime" id="leaveTime" required>
                                            <option value="1">1h</option>
                                            <option value="2">2h</option>
                                            <option value="3">3h</option>
                                            <option value="4">4h</option>
                                            <option value="5">5h</option>
                                            <option value="6">6h</option>
                                            <option value="7">7h</option>
                                            <option value="8">8h</option>                
                                        </select>
                                        <span>Ngày quy đổi: </span><span id="timeConvert"></span><span> ngày</span>
                                        <p>--Chú ý: Thời gian nghỉ phép 8h/ngày (trừ thứ bảy và chúa nhật)</p>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <p>Số giờ phép còn: <%= staff.annualLeave%> giờ</p>
                                    </div>
                                    <div class="mb-3 mt-3">
                                        <label class="form-label" for="leaveReason">Lý do nghỉ: </label>
                                        <textarea class="form-control" name="leaveReason" id="leaveReason" row="3" required></textarea>
                                    </div>
                                    
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn btn-primary" type="submit">Đăng Ký</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy</button>
                                </form>
                            </div>

                            <!-- <div class="modal-footer">
                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <% if(todayWorkingInfo) { %>
                <table class="table table-striped border">
                    <tr>
                        <th><h1>Ngày:</h1></th>
                        <td><h1> <%= todayWorkingInfo.date %></h1></td>
                    </tr>
                    
                        <% for (let timeResult of timesheet.timeResults) { %>
                            <% const timeNow = timeResult.startTimes[0].startTime %>
                            <% const year = timeNow.getFullYear() %>
                            <% const month = (timeNow.getMonth()+1) < 10 ? ('0' + (timeNow.getMonth()+1)) : (timeNow.getMonth()+1) %>
                            <% const date = timeNow.getDate() < 10 ? ('0' + timeNow.getDate()) : timeNow.getDate() %>
                            <% const startTimeToday = `${year}-${month}-${date}` %>

                            <% if(todayWorkingInfo.date == startTimeToday) { %> 
                                <tr> 
                                    <th>Địa điểm(giờ bắt đầu): </th>
                                    <td>
                                        <% for (let i = 0; i < timeResult.startTimes.length; i++) { %>
                                            <%=  timeResult.locations[i].location + '('+ timeResult.startTimes[i].startTime.toTimeString().substring(0, 8) + '), ' %>
                                        <% } %>
                                    </td>
                                </tr>
                                <tr>
                                    <th> Giờ kết thúc:</th> 
                                    <td><%= timeResult.endTime.toTimeString().substring(0, 8)%></td>
                                </tr>
                            <% } %>
                        <% } %>

                        <% var tlf_temp = 0 %>   
                        <% if(todayTakeLeaveInfo) { %> 
                            <% tlf_temp = todayTakeLeaveInfo.leaveTime %>
                        <% } %>

                    <tr>
                        <th>Tổng thời gian đã làm:</th>
                        <td><%= (tlf_temp == 0) ? todayWorkingInfo.timeTotal : (todayWorkingInfo.timeTotal + tlf_temp*60) %> phút</td>
                    </tr>
                    <tr>
                        <th>Thời  gian làm thiếu giờ:</th>
                        <td><%= (tlf_temp == 0) ? todayWorkingInfo.incompleteTime : (todayWorkingInfo.timeTotal + tlf_temp*60) > 480 ? 0 : todayWorkingInfo.incompleteTime - (todayWorkingInfo.timeTotal + tlf_temp*60)  %> phút</td>
                    </tr>
                    <tr>
                        <th>Thời gian làm thêm giờ:</th>
                        <td> <%= (tlf_temp == 0) ? todayWorkingInfo.overTime : (todayWorkingInfo.timeTotal + tlf_temp*60) > 480 ? (todayWorkingInfo.timeTotal + tlf_temp*60) - 480 : 0 %> phút</td>
                    </tr>
                    <tr>
                        <th>Số giờ nghỉ phép:</th>
                        <td><%= tlf_temp %> giờ</td>
                    </tr>
                </table>
            <% } else { %>
                <h1>Hôm nay chưa đăng ký làm việc</h1>
            <% } %>
        </div>
    </main>

<%- include('../includes/end.ejs') %>